<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #a{
            margin-left:50px;

        }
        #b{
            margin-left:880px;
            margin-top:5px;
        }
        #c{
            margin-left:20px;
            margin-top:8px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(77, 120, 106);">
    <nav style="margin-left:-8px;background-color:rgb(36, 56, 49);height:50px;width:1280px;margin-top:-20px;" class="container-fluid">
        <div>
         <h3 > <a  style="text-decoration: none; color:rgb(225, 226, 157);" href="#">Welcome,{{nm}} {{de}}</a>
          <a id="b" style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/logout/">LOGOUT</a>
<!--          <a id="c"  style="text-decoration: none;color:rgb(240, 241, 168);"  href="">LOGOUT</a>-->
         </h3> </div>
      </nav>
      <div style="height:100px;width:200px;background-color:rgb(157, 214, 193);margin-top:170px;margin-left:200px;text-align:center;font-size:25px;margin-top:150px;border-radius:20px;"><a style="text-decoraion:none;color:black;" href="http://127.0.0.1:8000/departmentapp/staffdetailuploads/"><br>Register class teacher</a></div>
      <div style="height:100px;width:200px;background-color:rgb(157, 214, 193);margin-top:-95px;margin-left:500px;text-align:center;font-size:25px;border-radius:20px;"><a style="text-decoraion:none;color:black;" href="http://127.0.0.1:8000/departmentapp/studentdetailuploads/"><br>Register Students</a></div>
      <div style="height:100px;width:200px;background-color:rgb(157, 214, 193);margin-top:-100px;margin-left:800px;text-align:center;font-size:22px;border-radius:20px;"><br><a style="text-decoraion:none;color:black;" href="http://127.0.0.1:8000/departmentapp/teacheradminnoti/">Notify to teachers</a> <br><a style="text-decoraion:none;color:black;" href="http://127.0.0.1:8000/departmentapp/studentadminnot/">Notify to Students</a></div>

</body>
</html>