<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(174, 199, 171);">
    <div style="height:200px;width:400px;background-color:rgb(207, 205, 189);text-align:center;margin-left:400px;margin-top:150px;border-radius:10px;color:red;">
        <br><br><br><h2 >Series Marks are Updated </h2>
<!--        <a href="http://127.0.0.1:8000/departmentapp/2017batch/{{s}}">Back to marklist</a>-->
    </div>

</body>
</html>