<!DOCTYPE html>
{% load static %}
<html lang="en">
    <style>
        #a{
            margin-left:50px;

        }
        #b{
            margin-left:800px;
            margin-top:5px;
        }
        #c{
            margin-left:20px;
            margin-top:8px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body style="background-color:rgb(38, 61, 78);">
<form  method="get">
    <nav style="margin-left:-8px;background-color:rgb(49, 70, 86);height:50px;width:1280px;margin-top:-20px;" class="container-fluid">
        <div >

         <h3> <a  style="text-decoration: none; color:rgb(225, 226, 157);" href="#">Welcome, {{nm}} : S{{sem}} batch</a>
          <a id="b" style="text-decoration: none;color:rgb(240, 241, 168);"  href="#">EVENTS</a>
          <a id="c"  style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/slogout/">LOGOUT</a>
         </h3> </div>
      </nav>
    <h1 style="text-align:center;margin-top:60px;color:rgb(225, 226, 157);" >NOTIFICATIONS</h1>
      <table style="height:200px;width:1000px;background-color:rgb(234, 223, 223);margin-left:150px;border-color:black;border-style:solid;margin-top:50px;" border="1px;">

              <th> Notification </th>
              <th> Time </th>


          </tr>
         {% for i in a %}
          <tr>
          <td>{{i.content}}</td>
           <td>{{i.stnottime}}</tr>

          {% endfor %}
        </div>


</table>
<!--    <a href="http://127.0.0.1:8000/departmentapp/studentlogin/#"><h2 style="text-align:center;margin-top:50px;" >BACK HOME</h2></a>-->

     </form>

</body>
</html>