<!DOCTYPE html>
<html lang="en">
    <style>
        #a{
            margin-left:50px;

        }
        #b{
            margin-left:800px;
            margin-top:5px;
        }
        #c{
            margin-left:20px;
            margin-top:8px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(91, 8, 47);">
    <nav style="margin-left:-8px;background-color:rgb(66, 5, 33);height:50px;width:1290px;margin-top:-20px;" class="container-fluid">
        <div>
         <h3 > <a  style="text-decoration: none; color:rgb(225, 226, 157);" href="#">Welcome, {{nm}} : S{{stffsem}} Faculty</a>
          <a id="b" style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/teachernotification/{{tid}}/">EVENTS</a>
          <a id="c"  style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/logout/">LOGOUT</a>
         </h3> </div>
      </nav>
      <table style="height:200px;margin-top:-180px;width:350px;background-color:rgb(205, 205, 164);margin-left:455px;border-color:white;border-style:solid;border-radius:20px;" border="5px;" >
        <div style="text-align:center;margin-top:0px;"><br><br><h1 style="text-decoration;color:white;">Your Class Details </h1><br>
        <h2><a href="http://127.0.0.1:8000/departmentapp/2017batch/{{tid}}">S{{stffsem}},{{batch}} batch students list</a><br><br>
            <a href="http://127.0.0.1:8000/departmentapp/pdfupload/{{tid}}">Upload Study Materials</a><br><br>
            <a href="http://127.0.0.1:8000/departmentapp/studentattendanceuploads/{{tid}}">Upload Attendance</a></h2>
<!--        <a href="#">2019-2023</a><br><br>-->
            <!--        <a href="#">2020-2024</a><br></h2></div>-->
        </div>
</table>
<!--      </div>-->

</body>
</html>