<!DOCTYPE html>
{% load static %}
<html lang="en">
    <style>
        #a{
            margin-left:50px;

        }
        #b{
            margin-left:800px;
            margin-top:5px;
        }
        #c{
            margin-left:20px;
            margin-top:8px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(38, 61, 78);">
    <nav style="margin-left:-8px;background-color:rgb(13, 33, 48);height:50px;width:1290px;margin-top:-20px;" class="container-fluid">
        <div >
         <h3 style="margin-top:20px;"> <a  style="text-decoration: none; color:rgb(225, 226, 157);" href="#">{{snm}} : S{{ste}} batch</a>
<!--          <a id="b" style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/studentnoti/">EVENTS</a>-->
          <a id="c"  style="text-decoration: none;color:rgb(240, 241, 168);"  href="http://127.0.0.1:8000/departmentapp/slogout/">LOGOUT</a>
         </h3> </div>
      </nav>
      <table style="height:250px;margin-top:80px;border-radius:10px;width:750px;background-color:rgb(187, 205, 174);margin-left:250px;border-color:white;border-style:solid;" border="5px" >
          <tr><th>PDF NAME</th>
              <th>pdf</th>
              <th>date</th>
              <th>semester</th>

          </tr>
          <tr>
              {%  for i,j,k,l in combine %}
              <td>{{i}}</td>
              <td><a href="{% static  j %} " download> click to download</a></td>
              <td>{{k}}</td>
              <td>{{l}}</td>


          </tr>
{% endfor %}
</table>

      </div>

</body>
</html>